$primary: #fff;
$tertiary: #E4572E;
$quaternary: #25ce4a;
$textPrimary: #242424;

.btn{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    white-space: nowrap;
}

.btn--primary {
    background-color: $tertiary;
    color: $primary;
    border: 1px solid $primary;
}

.btn--outline {
    background-color: transparent;
    color: $primary;
    padding: 8px 20px;
    border: 1px solid $primary;
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--mobile {
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: $primary;
    padding: 14px 20px;
    border: 1px solid $primary;
    transition: all 0.3s ease-out;
}

.btn--wide {
    padding: 12px 64px;
    font-size: 20px;
}

.btn--large:hover, .btn--medium:hover, .btn--mobile:hover {
    transition: all 0.3s ease-out;
    background: var(--color-link-primary);
}

.btn--wide:hover {
    color: $primary;
    background-color: var(--color-link-primary);
    transition: all 0.2s ease-out;
}

.primary {
    background-color: $textPrimary;
    color: $primary;
    border: none;
}

.primary:hover {
    background-color: $primary;
    color: $textPrimary;
    border: none;
}

.secondary {
    background-color: var(--color-link-primary);
    color: $primary;
    border: none;
}

.tertiary {
    background-color: $tertiary;
    color: $primary;
    border: none;
}

.quaternary {
    background-color: $quaternary;
    color: $primary;
    border: none;
}