.home__hero-row {
    align-items: center;
    display: flex; 
    flex-direction: row;
    &.start {
        flex-direction: row-reverse;
    }
}

.home__hero-section {
    color: var(--color-text-primary);
    padding: 50px 0;
}

.row{
    display:flex;
    margin: 0 -15px -15px -15px;
    flex-wrap: wrap;
    align-content: stretch;
}

.col {
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
}

.home__hero-text-wrapper {
    padding-top: 0;
}

.top-line {
    color: var(--color-text-primary);
    font-size: 2rem;
    text-align: left;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.heading {
    margin-bottom:  24px;
    line-height: 1.1;
    font-weight: 600;
    color: var(--color-text-primary);
}

.dark {
    color: var(--color-background-primary);
}

.darkBg {
    background-color: var(--color-background-primary);
}

.home__hero-subtitle {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
}

.home__hero-img-wrapper {
    max-width: 555px;
}

.home__hero-img {
    max-width: 95%;
    padding-right: 0 0 0 10px;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.hide {
    display: none;
}

.hero-text-only {
    text-align: center;
    max-width: unset;
}

.hero-table {
    display: flex;
    font-size: 1.5rem;
    vertical-align: middle;
    text-align: center;
    tr {
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        td:first-child {
            color: var(--color-title-primary-alt);
            font-weight: 500; 
        }
    }
}

.tr-heading {
    width: 25%;
}

@media screen and (max-width:991px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width:768px) {
    .home__hero-text-wrapper {
        padding-bottom: 65px;
        text-align: left;
    }

    .col {
        max-width: 100%;
        flex-basis: 100%
    }

    .hero-table {
        text-align: left;
        display: flex;
        align-items: center;
        tr {
            display: flex;
            flex-direction: column;
        }
    }
}