
span {
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 2em;
    margin-bottom: 1em;
    flex-wrap: wrap;
    text-align: center;
}
.footer-links {
    display: flex;
    flex-direction: row;
    font-size: 3em;
    color:var(--color-text-primary);
    justify-content: space-evenly;
    margin-left: 2em;
    margin-right: 2em;
    a {
        color: var(--color-link-primary);
    }
}

@media screen and (max-width: 800px) {
    .footer-links {
        justify-content: center;
        margin-left: unset;
        margin-right: unset;
        svg {
            margin-left: 0.2em;
            margin-right: 0.2em;
        }
    }
}