@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;700&display=swap');
@import 'variables.scss';
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--color-background-primary);
    font-family: 'Inconsolata', monospace;
}

