:root {
    --color-text-primary: #393D3F;
    --color-link-primary: #E86F4A;
    --color-background-primary: #FFF9EB;
    --color-background-primary-alt: darken($bgColor, 2);
    --color-title-primary: #425461;
    --color-title-primary-alt: lighten($titleColor, 5);
}

